*{
    padding: 0%;
    margin:0%;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.header {
    background-color: teal;
    color: white;
    font-size:20px;
}
.header h2{
    margin-top:10px;
    margin-bottom:10px;
}
.section{
    margin-top:50px;
    margin-left:70px;
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    gap:30px;
}
.cart .image{
    width:210px;
    height:300px;
    border-radius:50px;
}
.cart h2{
    font-size:20px;
    margin-right: 50px;
    color:white;
    
}
.ft{
    margin-top:160px;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size:20px;
}
body{
    background-color: black;
}

/* For Laptops/Small Desktops (max 1024px) */
@media screen and (max-width: 1024px) {
    .section {
        grid-template-columns: auto auto auto;
        margin-left: 0;
    }

    .cart .image {
        margin-left: 50px;
    }

    .cart h2 {
        margin-left:15px;
    }

    .ft {
       font-size:20px; 
    }
}

/* For Tablets (max 768px) */
@media (max-width: 768px) {
    .section {
        grid-template-columns: auto auto;
        gap: 20px;
    }
    
    .cart .image {
        width: 180px; 
        height: 260px;
        margin-left:90px
    }

    .cart h2 {
        margin-left:20px;
    }

    .ft {
       font-size:16px; 
    }
}

/* For Small Mobile Phones (max 480px) */
@media screen and (max-width: 480px) {
    .section {
        grid-template-columns: auto;
        margin-top: 20px;
    }

    .header {
        font-size: 14px;
    }

    .cart .image {
        width: 250px; 
        height: 350px;
        margin-left:63px;
    }

    .cart h2{
        margin-left:32px;
    }

    .ft {
        margin-top: 30px;
        font-size:11px;
    }
}

